.Container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.Title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0;
}

.Form {

}

.Fields {
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.Button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color);
    background-color: var(--bg-color-button-hint);
    border-radius: 3px;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.Hint {
    display: flex;
    line-height: 17px;
    column-gap: 6px;
}

.Hint__Text {
    color: var(--color-snipet-caption);
}

.Hint__Link {
    color: var(--bg-color-button-hint);
    text-decoration: none;
}

.Hint__Link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 320px) {
    .Container {
        margin: 0 30px;
    }
}