.Container {
    display: grid;
    justify-content: space-between;
    align-items: start;
    align-content: space-between;
    gap: 18px;
    grid-template-areas:
            'title title duration'
            'image image image'
            'button button button';
    background: #222222;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 18px 0;
}

.Thumbnail {
    grid-column: 1 / -1;
    width: 100%;
    grid-area: image;
}

.Name {
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    overflow-wrap: break-word;
    grid-area: title;
    padding-left: 18px;
}

.Button {
    background: var(--bg-color-button) no-repeat center;
    color: var(--color);
    border-radius: 30px;
    width: 100px;
    height: 29px;
    cursor: pointer;
    border: none;
    grid-area: button;
    justify-self: center;
}

.Button_Type_Liked {
    background: var(--bg-color-pink) url("../../images/liked.svg") no-repeat center;
}

.Button_Type_Remove {
    background-image: url("../../images/remove.svg");
}

.Duration {
    grid-column: 1 / -1;
    color: var(--color-snipet-caption);
    font-size: 11px;
    line-height: 13px;
    padding-top: 6px;
    grid-area: duration;
    align-self: self-start;
    justify-self: right;
    padding-right: 18px;
}