.Container {
    max-width: 410px;
    margin: 0 auto;
    padding: 0 calc(calc(100% - 410px) / 2) 70px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color-primary);
}

.Form {
    display: flex;
    flex-direction: column;
}

.Title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 120px;
    padding: 74px 0 0;
    text-align: center;
}

.Fields {
    margin-bottom: 179px;
}

.Field {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: solid 1px var(--line-color-secondary);
}

.Field:last-child {
    border-bottom: none;
}

.Label {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.Text {
    font-size: 11px;
    line-height: 13px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.Button {
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--color);
}

.Button:disabled {
    opacity: .5;
}

.Button_Type_Primary {
    font-weight: 500;
    color: var(--bg-color-pink);
}


@media screen and (max-width: 768px) {
    .Container {
        margin-bottom: 96px;
    }
}

@media screen and (max-width: 430px) {
    .Container {
        max-width: calc(100vw - 20px);
        margin: 0 auto;
    }
}