.Container {
    display: flex;
    padding: 80px 70px 83px;
    margin: 0;
    column-gap: 40px;
    justify-content: space-between;
    background-color: var(--bg-color-primary);
    box-sizing: border-box;
}

.Search {
    height: 48px;
    border-radius: 50px;
    display: block;
    position: relative;
    align-items: center;
    width: 100%;
    column-gap: 20px;
    border: 2px solid var(--line-color-accent);
}

.Search__Field {
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    color: var(--color);
    padding: 0 50px 0 0;
    text-indent: 22px;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.29;
    background-color: var(--bg-color-primary);
}

.Search__Field::-webkit-search-cancel-button {
    height: 20px;
    -webkit-appearance: none;
    width: 20px;
}

.Search__Field:focus {
    outline: solid 1px var(--bg-color-button-hint);
}

.Search__Field:invalid {
  border-color: red;
}

.Search__Button {
    position: absolute;
    top: 7px;
    right: 7px;
    background: var(--bg-color-button-hint) url(../../images/search.svg) no-repeat center;
    background-position-x: 15px;
    border: 0;
    border-radius: 50px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.Search__Reset {
    position: absolute;
    top: 7px;
    right: 45px;
    background: url(../../images/remove.svg) no-repeat center;
    background-position-x: 15px;
    border: 0;
    border-radius: 50px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    opacity: 0;
}

.Search__Field:focus ~ .Search__Reset, .Search__Field:hover ~ .Search__Reset, .Search__Reset:hover {
    opacity: .6;
    transition: ease-in .2s;
}

.Search__Button:disabled {
    opacity: .2;
}

.Error {
    font-size: 14px;
    color: red;
    margin-left: 20px;
    position: relative;
    top: 10px;
}

@media screen and (max-width: 768px) {
    .Container {
        flex-direction: column;
        row-gap: 38px;
        align-items: center;
        padding: 60px 0 57px;
        margin: 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .Container {
        padding: 60px 0 50px;
        margin: 0 10px;
    }

    .Search__Field {
        font-size: 11px;
        line-height: 1.46;
    }
}