.Field {

}

.Label {
    font-size: 10px;
    line-height: 12px;
    color: var(--color-snipet-caption);
}

.Input {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    background-color: var(--bg-color-primary);
    color: var(--color);
    padding: 15px;
    border: none;
    border-bottom: solid 1px var(--line-color-secondary);
    width: 100%;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;
    border: none;
    border-bottom: solid 1px var(--bg-color-button-hint);
}

.Input_Type_Error {
    color: #FF3055;
}

.Error {
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin-top: 10px;
}