.Field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Label {
    font-size: 10px;
    line-height: 12px;
    color: var(--color-snipet-caption);
}

.Label_View_Inline {
    color: var(--color);
    position: absolute;
    top: 15px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.Input {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    background-color: var(--bg-color-primary);
    color: var(--color);
    padding: 15px;
    border: none;
    border-bottom: solid 1px var(--line-color-secondary);
    width: 100%;
    box-sizing: border-box;
}

.Input_View_Inline {
    font-size: 11px;
    line-height: 13px;
    padding: 15px 0 15px 15px;
    text-align: right;
}

.Input:focus {
    outline: none;
    border: none;
    border-bottom: solid 1px var(--bg-color-button-hint);
}

.Input_Type_Error {
    color: var(--bg-color-pink);
}

.Error {
    font-size: 10px;
    line-height: 12px;
    color: var(--bg-color-pink);
    margin-top: 10px;
}