.Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    padding: 0 70px;
    margin: 0;
    background-color: var(--bg-color-primary);
}

.Container_Theme_Dark {
    background-color: var(--primary-color);
}

.Menu {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.Menu_Type_Main {
    display: flex;
    column-gap: 16px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
}

.Menu_Button {
    display: none;
}

.Buttons {
    display: flex;
    column-gap: 30px;
}

.Button {
    border: none;
    padding: 8px 0;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.Button__Primary {
    background-color: var(--secondary-color);
    padding: 8px 20px;
}

.Button__Secondary {
    background-color: transparent;
    color: var(--color);
}

.Button_Type_Profile {
    background-color: transparent;
    color: var(--color);
    display: flex;
    column-gap: 7px;
    padding: 0 7px;
    border: 2px solid var(--line-color-accent);
    border-radius: 50px;
    align-items: center;
}

.ProfileIcon {
    background: var(--bg-color-primary) url(../../images/profile.svg) no-repeat center;
    border-radius: 4px;
    width: 12px;
    height: 14px;
    padding: 0;
    margin: 5px 0;
}

.Button__MenuItem {
    background-color: transparent;
    color: var(--color);
}

.Button__Primary:hover {
    color: #FFF;
}

.Button__Secondary:hover {
    color: #c9c9c9;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .Container {
        padding: 0 30px;
    }

    .Menu_Button {
        background: var(--bg-color-primary) url('../../images/menu.svg') no-repeat center;
        content: '';
        height: 44px;
        width: 44px;
        display: block;
        border: none;
    }

    .Menu_Button_Open {
        background: var(--bg-color-primary) url('../../images/close.svg') no-repeat center;
        z-index: 2;
    }

    .Menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 66vw;
        background-color: var(--bg-color-primary);
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        padding: 159px 0 90px;
        height: 100%;
        box-sizing: border-box;
    }

    .Menu_Open {
        display: flex;
        position: fixed;
    }

    .Menu:before {
        background: var(--bg-color-primary) url('../../images/close.svg') no-repeat center;
        z-index: 2;
        content: '';
        height: 32px;
        width: 32px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .Menu:after {
        content: '';
        height: 100vh;
        width: 34vw;
        opacity: 0.6;
        background-color: #000;
        position: fixed;
        left: 0;
        top: 0;
    }

    .Menu_Type_Main {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        column-gap: 50px;
        align-items: center;
        position: initial;
    }

    .Button__MenuItem {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .Button__MenuItem_Active {
        text-underline-offset: 10px;
        text-decoration: underline;
    }

    .Buttons > .Button__Primary, .Buttons > .Button__Secondary {
        visibility: visible;
    }

}

@media screen and (max-width: 320px) {
    .Container {
        padding: 0 14px;
    }

    .Buttons {
        column-gap: 14px;
    }

    .Menu {
        display: none;
        padding: 144px 0 46px;
    }

    .Menu_Open {
        display: flex;
        width: 100%;
    }

    .Menu_Open::after {
        width: 0;
        height: 0;
    }

    .Menu_Type_Main {
        display: flex;
    }
}