.Container {
    display: grid;
    grid-template-areas:
            'title image'
            'about image'
            'text image'
            'link image';
    column-gap: 50px;
    margin: 66px 0 100px;
    justify-content: space-between;
}

.Title {
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: -0.04em;
    margin: 0;
    grid-area: title;
}

.About {
    grid-area: about;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.11;
    margin: 0 0 26px;
    padding-top: 18px;
}

.Text {
    grid-area: text;
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
}

.GithubLink {
    grid-area: link;
    font-size: 14px;
    line-height: 17px;
    color: var(--color);
    text-decoration: none;
}

.Avatar {
    grid-area: image;
    justify-self: end;
    width: 100%;
}

.Portfolio {
    display: flex;
    flex-direction: column;
}

.Portfolio__Header {
    font-style: normal;
    font-size: 18px;
    line-height: 1.11;
    color: var(--color-snipet-caption);
    mix-blend-mode: normal;
    margin-bottom: 50px;
}

.Links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.Link {
    display: flex;
    border-bottom: 1px solid var(--line-color-secondary);
    padding: 20px 0 19px;
    justify-content: space-between;
    align-items: center;
}

.Link:last-child {
    border-bottom: none;
}

.Link__Text {
    font-size: 30px;
    line-height: 1.67;
    letter-spacing: -0.04em;
    margin: 0;
}

.Link__Button {
    background-image: url('../../images/external-link.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .Container {
        grid-template-columns: 1fr 255px;
    }

    .Title {
        font-size: 40px;
        line-height: 1;
    }

    .About {
        font-size: 12px;
        line-height: 1.5;
        margin: 0 0 20px;
        padding-top: 16px;
    }

    .Text {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 87px;
    }

    .Link__Text {
        font-size: 28px;
    }
}

@media screen and (max-width: 620px) {
    .Container {
        grid-template-areas:
            'image'
            'title'
            'about'
            'text'
            'link';
        grid-template-columns: 1fr;
    }

    .Avatar {
        margin-bottom: 40px;
        justify-self: center;
        width: 100%;
    }

    .Text {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 320px) {
    .Container {
        margin: 60px 0 70px;
        align-items: center;
    }

    .Title {
        font-size: 30px;
        line-height: 1.2;
    }

    .About {
        padding-top: 20px;
    }

    .Text {
        font-size: 11px;
        line-height: 1.45;
        width: 292px;
    }

    .Avatar {
        grid-column: 1;
    }

    .Portfolio__Header {
        margin-bottom: 20px;
    }

    .Link__Text {
        font-size: 18px;
        line-height: 1.56;
    }
}